<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../css/style.css">
    <link rel="stylesheet" href="../css/footer.css">
    <link rel="stylesheet" href="../css/admin_course.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.2/css/all.min.css"
        integrity="sha512-z3gLpd7yknf1YoNbCzqRKc4qyor8gaKU1qmn+CShxbuBusANI9QpRohGBreCFkKxLhei6S9CQXFEbbKuqLg0DA=="
        crossorigin="anonymous" referrerpolicy="no-referrer" />
    <link rel="stylesheet" type="text/css"
        href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.1/css/all.min.css" />
    <!-- Fontawesome: get icon  -->

    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.3.1/dist/css/bootstrap.min.css"
        integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <!-- Bootstrap -->
    <title>Course</title>
</head>

<body>
    {{>header}}


    <main>
        <div class="row_content img_language">
            <div class="img_university">
                <img src="//courses.fit.hcmus.edu.vn/pluginfile.php/1/theme_academi/logo/1697455118/fit-logo-chuan-V2-MOODLE.jpg"
                    alt="Logo">
            </div>
        </div>

        <div class="box title_course">
            <div class="name_course">
                {{namecourse}}
            </div>
            <div class="link_current_page">

                <button style="border: 0;"><a class="btn bg-secondary text-white pd-2 text-center"
                        href="./home">Home</a></button>
            </div>

            <h1 class="text-dark">List of teachers</h1>
            <table class="table table-striped">
                <thead class="thead-dark">
                    <tr>
                        <th class="text-center" scope="col">ID</th>
                        <th class="text-center" scope="col">Name</th>
                        <th class="text-center" scope="col">Email</th>
                        <th class="text-center" scope="col">Handle</th>
                    </tr>
                </thead>
                <tbody id="list_teacher">
                    {{#each teachers}}
                    <tr>
                        <th class="text-center" scope="row">{{this.user_id}}</th>
                        <td class="text-center">{{this.user_name}}</td>
                        <td class="text-center"><a href="mailto:{{this.account_email}}">{{this.account_email}}</a></td>
                        <td class="text-center" class="text-center"><button
                                class="btn bg-secondary text-white pd-2 text-center">Delete</button></td>
                    </tr>
                    {{/each}}

                </tbody>
            </table>
            <span>
                <button class="btn btn-secondary" title="Thêm giáo viên" style="width: 50px; height: 40px;">Add</button>
                <button class="btn btn-secondary" style="width: 100px; height: 40px;"
                    onclick="DeleteAll('teacher','{{id_course}}')">Delete All</button>
            </span>

            <h1 class="text-dark" style="margin-top: 25px">List of students</h1>
            <table class="table table-striped">
                <thead class="thead-dark">
                    <tr>
                        <th class="text-center" scope="col">ID</th>
                        <th class="text-center" scope="col">Name</th>
                        <th class="text-center" scope="col">Email</th>
                        <th class="text-center" scope="col">Handle</th>
                    </tr>
                </thead>
                <tbody id="list_student">
                    {{#each students}}
                    <tr>
                        <th class="text-center" scope="row">{{this.user_id}}</th>
                        <td class="text-center">{{this.user_name}}</td>
                        <td class="text-center"><a href="mailto:{{this.account_email}}">{{this.account_email}}</a></td>
                        <td class="text-center"><button class="btn bg-secondary text-white text-center">Delete</button>
                        </td>
                    </tr>
                    {{/each}}
                </tbody>
            </table>
            <span>
                <button class="btn btn-secondary" title="Thêm giáo viên" style="width: 50px; height: 40px;">Add</button>
                <button class="btn btn-secondary" style="width: 100px; height: 40px;"
                    onclick="DeleteAll('student','{{id_course}}')">Delete All</button>
                <input type="file" id="file_submission" name="excelFile" accept=".xlsx, .xls">
                <label for="file_submission" class="btn btn-secondary" onclick="importExcel()"
                    style="width: 100px; height: 40px; margin-bottom: 1.5px">Import</label>
            </span>
        </div>



    </main>


    {{> footer}}

    <div class="modal fade" id="modal-course-delete" tabindex="-1" aria-labelledby="exampleModalLabel"
        aria-hidden="true">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="exampleModalLabel">Notification</h5>
                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close" onclick="CloseDialog()" style="border:0; background-color:white">X</button>
                </div>
                <div class="modal-body">
                    <form method="post" id="deleteForm">
                        <p id="delete_description">Are you sure to delete this course?</p>
                        <input type="hidden" id="courseIdInput" name="id_course" value="">
                        <input type="hidden" id="personIdInput" name="name_Person" value="">
                        <div class="modal-footer">
                            <button type="button" class="btn btn-secondary" data-bs-dismiss="modal" onclick="CloseDialog()">Close</button>
                            <button type="button" class="btn btn-primary" style="background-color: red;" onclick="DeleteAcction()">Delete</button>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>

    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js"
        integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo"
        crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/popper.js@1.14.7/dist/umd/popper.min.js"
        integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1"
        crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@4.3.1/dist/js/bootstrap.min.js"
        integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM"
        crossorigin="anonymous"></script>
    <script src="/js/admin_course.js"></script>

    <!-- <script src="./myscript.js">
    </script> -->
</body>

</html>
