<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <link rel="stylesheet" href="/css/style.css">
    <link rel="stylesheet" href="/css/footer.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.2/css/all.min.css"
        integrity="sha512-z3gLpd7yknf1YoNbCzqRKc4qyor8gaKU1qmn+CShxbuBusANI9QpRohGBreCFkKxLhei6S9CQXFEbbKuqLg0DA=="
        crossorigin="anonymous" referrerpolicy="no-referrer" />
    <link rel="stylesheet" type="text/css"
        href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.1/css/all.min.css" />
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.3.1/dist/css/bootstrap.min.css"
        integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">

    <title>Course</title>
</head>

<body>
     {{>header username = user.user_name}}

    <main>
        <div class="row_content img_language">
            <div class="img_university">
                <img id="logo" src="/images/logo.jpg" alt="Logo">
            </div>
        </div>

        <div class="title_course">
            <div class="name_course">
                {{course_name}}
            </div>

        </div>

        <div class="content_body">
            <div class="content">
                <div class="box last_box">
                    {{#each dataTopic}}
                    <div class="row_content">
                        <p class="title_row">{{topic_name}}</p>
                        <div class="topic_description">{{description}}</div>
                        <ul class="list">
                            {{#each exercise}}
                            <li class="row_icon_link " onclick="submission1('{{exercise_id}}')">
                                <div>
                                    <img class="icon_exercise" src="/images/icon_exercise.png" alt="" height="32px">
                                    <a class="text" href="#" >{{exercise_name}}</a>
                                </div>
                            </li>
                            {{/each}}
                        </ul>
                    </div>
                    {{/each}}
                </div>
            </div>

            <div class="side">
                <div class="box list_people">
                    <div class="home_side_header_box">
                        <a class="title_row title_text" style="color: rgb(151, 184, 85);">Final Score</a>
                    </div>

                    <div class="home_side_inf_box home_side_content_box">  
                        <strong>
                            <a class="Score">{{finalscore}}</a>
                        </strong>
                    </div>

                    <div class="home_side_header_box">
                        <a class="title_row title_text" style="color: rgb(151, 184, 85);">Course ID</a>
                    </div>

                    <div class="home_side_inf_box home_side_content_box">
                        <h5><strong><a class="id-class" style="font-size: 18px;">{{course_id}}</a> </strong></h5>
                    </div>

                    <div class="home_side_header_box">
                        <a class="title_row title_text" style="color: rgb(151, 184, 85);">Course name</a>
                    </div>

                    <div class="home_side_inf_box home_side_content_box">
                        <h5><strong><a class="course_name" style="font-size: 18px;">{{course_name}}</a></strong></h5>
                    </div>

                    <div class="home_side_header_box">
                        <a class="title_row title_text" style="color: rgb(151, 184, 85);">Schedule</a>
                    </div>

                    <div class="home_side_inf_box home_side_content_box">
                        <h5><strong><a class="course_name" style="font-size: 18px;">{{schedule}}</a></strong></h5>
                    </div>

                    <div class="home_side_header_box">
                        <a class="title_row title_text" style="color: rgb(151, 184, 85);">Teachers</a>
                        <span style="font-size: 18px; float:right"><strong>{{numberofteacher}}</strong></span>
                    </div>

                    <div class="home_side_inf_box home_side_content_box" style="padding-top:0px; padding-bottom:0px;">
                        <div class="list_teacher color_box">
                        {{#each teacher}}
                        <ul class="list">
                            <li class="member">
                                <div class="teacher">
                                    <img id="avartar_teacher" 
                                        src="/images/icon_teacher.png"
                                        alt="Teacher" style="margin-left:0px;">
                                    <div class="name_teacher">
                                        <strong class="name">{{user_name}}</strong>
                                    </div>
                                </div>
                            </li>
                        </ul>
                        {{/each}}
                    </div>
                    </div>

                    
                    <div class="home_side_header_box">
                        <a class="title_row title_text" style="color: rgb(151, 184, 85);">Students</a>
                        <span style="font-size: 18px; float:right"><strong>{{numberofstudent}}</strong></span>
                    </div>

                    <div class="home_side_inf_box home_side_content_box">
                        <div class="icon" style="font-size: 17px;">
                            <a class="link_group_people" href="#" onclick="showListStudent('{{course_id}}')">
                                Show participants list</a>
                        </div>
                    </div>

                    <div class="home-side">
                        <div class="home_side_header_box">
                            <a class="title_row title_text" style="color: rgb(151, 184, 85);">Upcomming events</a>
                        </div>

                        <div class="home_side_event_box home_side_content_box">
                            {{#each exercises}}
                            <div class="box_upcoming_events" style="margin-left: -10px !important;">
                                <div>{{this.duetime}}</div>
                                <div class="side_deadline">{{this.exercise_name}}</div>
                            </div>
                            {{/each}}
                        </div>
                    </div> 

                </div>
                
            </div>
        </div>
    </main>


    {{>footer}}


    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js"
        integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo"
        crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/popper.js@1.14.7/dist/umd/popper.min.js"
        integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1"
        crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@4.3.1/dist/js/bootstrap.min.js"
        integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM"
        crossorigin="anonymous"></script>
    <!-- <script src="./myscript.js">
    
    </script> -->
    <script src="/js/student_course.js"></script>
    <script src="/js/list_student.js"></script>
</body>

</html>
