<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <link rel="stylesheet" href="/css/style.css">
    <link rel="stylesheet" href="/css/footer.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.2/css/all.min.css"
        integrity="sha512-z3gLpd7yknf1YoNbCzqRKc4qyor8gaKU1qmn+CShxbuBusANI9QpRohGBreCFkKxLhei6S9CQXFEbbKuqLg0DA=="
        crossorigin="anonymous" referrerpolicy="no-referrer" />
    <link rel="stylesheet" type="text/css"
        href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.1/css/all.min.css" />
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.3.1/dist/css/bootstrap.min.css"
        integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <script src="https://unpkg.com/read-excel-file@5.x/bundle/read-excel-file.min.js"></script>
    <title>Submission</title>
</head>
<style>

    .choose-file-label:hover {
        color: rgb(30, 29, 29)
    }
    
</style>
<body>
    {{>header}}


    <main>
        <!-- Logo -->
        <div class="row_content img_language">
            <div class="img_university">
                 <img id="logo" src="/images/logo.jpg" alt="Logo">
            </div>
        </div>
        
        <!-- Course -->
        <div class="box title_course">
            <div class="name_course">
                {{course_name}} </div>

            <div class="link_current_page">
                <a class="link_page" href="#">Home</a>
                <p class="slash"> / </p>

                <a href="#" class="link_page">{{course_name}}</a>
                <p class="slash"> / </p>

                <a href="#" class="link_page">Project</a>
                <p class="slash"> / </p>

                <a href="#" class="link_page">PA1 - Submission - Filename: GroupID.zip - Ex: Group02.zip3</a>
            </div>
        </div>

        <!-- Content -->
        <div class="content_body">
            <div class="content">
                <div class="box last_box">
                    <!-- Submission Title -->
                    <div class="row_content">
                        <div class="title_submission">
                            List Student
                        </div>
                    </div>
                    <!-- Student table -->
                    <table id="teacher_submission_table" class="table table-striped">
                        <thead>
                            <tr>
                                <th>ID</th>
                                <th>Student name</th>
                                <th>Email</th>
                                <th>Final Score</th>
                            </tr>
                        </thead>
                        <tbody id="list_student">
                            {{#each array}}
                            <tr>
                                <td>{{this.user_id}}</td>
                                <td>{{this.user_name}}</td>
                                <td>{{this.account_email}}</td>
                                <td><input type="number" class="score" data-score="{{this.finalscore}}"
                                        data-student-id="{{this.user_id}}" data-course-id="{{../course_id}}"
                                        name="score" min="0" max="10" step="0.1" onkeydown="updateAllScores(event)"
                                        value="{{this.finalscore}}"></input></td>
                            </tr>
                            {{/each}}
                        </tbody>
                    </table>
                    <div class="btn_download">
                        <label class="choose-file-label" for="file-finalscore-input" style="margin: auto 5px auto 0; cursor: pointer">Choose file</label>
                        <button id="import-finalscore-button" class="btn-secondary btn-in-submission disabled" style="font:inherit; opacity: 0.7; cursor: default">Import Final score</button>
                        <input type="file" id="file-finalscore-input" style="display: none;" accept=".xlsx"
                            class="btn-secondary btn-in-submission mr-2">
                    </div>
                    <div id="import-finalscore-info" class="alert alert-info" style="display: none; text-align: center">
                        After selecting file, press "Import Final Score" to execute</div>

                </div>
            </div>

            <!-- Side -->

            <div class="side">
                <div class="box list_people">
                    <div class="home_side_header_box">
                        <a class="title_row title_text" style="color: rgb(151, 184, 85);">Course ID</a>
                    </div>
                    <div class="home_side_inf_box home_side_content_box">
                        <h5><strong><a class="id-class">{{course_id}}</a> </strong></h5>
                    </div>
                    <div class="home_side_header_box">
                        <a class="title_row title_text" style="color: rgb(151, 184, 85);">Course name</a>
                    </div>

                    <div class="home_side_inf_box home_side_content_box">
                        <h5><strong><a class="course_name">{{course_name}}</a></strong></h5>
                    </div>
                    <div class="home_side_header_box">
                        <a class="title_row title_text" style="color: rgb(151, 184, 85);">Schedule</a>
                    </div>
                    <div class="home_side_inf_box home_side_content_box">
                        <h5><strong><a class="schedule">{{schedule}}</a> </strong></h5>
                    </div>
                    <div class="home_side_header_box">
                        <a class="title_row title_text" style="color: rgb(151, 184, 85);">Number of Teachers</a>
                    </div>
                    <div class="home_side_inf_box home_side_content_box">
                        <h5><strong><a class="number-lecturers">{{numberofteacher}}</a> </strong></h5>
                    </div>
                    <div class="list_teacher color_box">
                        <strong class="title_row title_text" style="color: rgb(151, 184, 85);">Teacher</strong>
                        <ul class="list">
                            {{#each teachers}}
                            <li class="member">
                                <div class="teacher">
                                    <img style="margin-left:2%"
                                        src="https://courses.fit.hcmus.edu.vn/theme/image.php/academi/core/1697455118/u/f2"
                                        alt="Teacher">
                                    <div class="name_teacher">
                                        <p class="name">{{this.user_name}}</p>
                                    </div>
                                </div>
                            </li>
                            {{/each}}
                        </ul>
                    </div>
                    <div class="home_side_header_box">
                        <a class="title_row title_text" style="color: rgb(151, 184, 85);">Number of Students</a>
                    </div>
                    <div class="home_side_inf_box home_side_content_box">
                        <h5><strong><a class="number-lecturers">{{numberofstudent}}</a> </strong></h5>
                    </div>
                </div>
            </div>
        </div>
    </main>


    {{>footer}}
    <script>
        const course_id = {{ course_id }}
        console.log(course_id);
        document.addEventListener('DOMContentLoaded', function () {
            const input = document.getElementById('file-finalscore-input');
            input.addEventListener('change', async (event) => {

                const file = event.target.files[0];
                const finalScores = [];
                let isValid = true;
                try {
                    const rows = await readXlsxFile(file);
                    const attributes = rows[0];

                    if (attributes[0] !== 'user_id' || attributes[1] !== 'score') {
                        isValid = false;
                        alert('Invalid file!');
                        return;
                    }

                    for (let i = 1; i < rows.length; ++i) {
                        if (!Number.isInteger(rows[i][0])) {
                            isValid = false;
                            alert('Id has to be an integer, please check your file!');
                            return;
                        }
                        if (rows[i][1] < 0) {
                            isValid = false;
                            alert('Score has to be a positive integer, please check your file!');
                            return;
                        }
                        let finalScore = { course_id, user_id: rows[i][0], finalscore: rows[i][1] };
                        finalScores.push(finalScore);
                    }
                } catch (error) {
                    // Handle any errors that may occur during the file reading process
                    console.error('Error reading the file:', error);
                    isValid = false;
                    alert('Error reading the file. Please try again.');
                }

                console.log('lala');
                console.log('isValid outside', isValid);
                if (!isValid) {
                    console.log('is valid');
                    return;
                }
                document.getElementById('import-finalscore-info').style.display = 'block';
                const importFinalScore = document.getElementById('import-finalscore-button')
                console.log(importFinalScore)
                importFinalScore.style.cursor = 'pointer';
                importFinalScore.style.opacity = 1;
                importFinalScore.addEventListener('click', async function (event) {
                    const res = await fetch('/teacher/submission/import_final_score', {
                        method: 'POST',
                        body: JSON.stringify(finalScores),
                        headers: { 'Content-Type': 'application/json' }
                    });
                    if (res.ok) {
                        const data = await res.json();
                        console.log(data);
                        setTimeout(() => {
                            window.location.reload();
                        }, 200)
                    }
                })

            })
        })
    </script>

    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js"
        integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo"
        crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/popper.js@1.14.7/dist/umd/popper.min.js"
        integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1"
        crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@4.3.1/dist/js/bootstrap.min.js"
        integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM"
        crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jszip/3.1.5/jszip.min.js"></script>
    <script src="/js/list_student.js"></script>
    <!-- <script src="./myscript.js">

    </script> -->
</body>

</html>